.background {
  position: relative;
  min-height: -webkit-fill-available;
  height: 100vh;
  padding: 75px 4rem 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 100%;
}

.background__reverse {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  padding: 75px 4rem 0 4rem;
  max-width: 1600px;
}

@media screen and (max-width: 650px) {
  .background {
    flex-direction: column;
    padding: 3rem 1rem 1rem;
    transition: all ease-in 200ms;
    height: auto;
  }

  .background__reverse {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .background__invert {
    flex-direction: column-reverse;
  }
}
