.background {
  position: relative;
  min-height: -webkit-fill-available;
  height: 100vh;
  padding: 75px 4rem 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (max-width: 650px) {
  .background {
    flex-direction: column;
    padding: 3rem 1rem 1rem;
    transition: all ease-in 200ms;
    height: auto;
  }

  .background__reverse {
    flex-direction: column-reverse;
    height: 100vh;
  }
}
