.background {
  position: relative;
  min-height: -webkit-fill-available;
  height: 100vh;
  padding: 0 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  scroll-snap-align: start;
  width: 100%;
}

.background__reverse {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 4rem;
  max-width: 1600px;
}

@media screen and (max-height: 900px) {
  .background {
    min-height: 100vh;
    height: 100%;
    padding-top: 100px;
  }
  .background__reverse {
    padding-top: 0;
  }
}

@media screen and (max-width: 650px) {
  .background {
    flex-direction: column;
    padding: 3rem 1rem 1rem;
    height: auto;
    min-height: 50vh;
  }

  .background__reverse {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }

  .background__invert {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 250px) {
  .background {
    flex-direction: column;
    padding: 3rem 1rem 1rem;
    height: auto;
    min-height: auto;
  }
  .background__reverse {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
  }
}
