.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  color: var(--terciary);

  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
}

.container__list {
  list-style: none;
  display: flex;
  width: 50%;
  max-width: 600px;
  align-items: center;
  justify-content: space-between;
}

.container__item_active {
  font-weight: bold;
}
