.container {
  min-width: 600px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .container {
    min-width: auto;
  }
}

.list {
  display: none;
  list-style: none;
  padding: 0;
}

.paragraph {
  font-size: 1.5rem;
  padding-right: 10px;
  margin: 0 0 3rem 0;
  color: var(--white);
}

.group__icons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.group__title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--white);
}

.group__item {
  box-shadow: var(--box-shadow);
  filter: grayscale(1);
}

.group__item:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
}

.heading {
  margin-bottom: 1rem;
}

.skills {
  z-index: 0;
  position: relative;
  min-height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.skills p {
  position: absolute;
  color: white;
  z-index: -1;
  left: 0;
  right: 0;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
  filter: opacity(0.2);
}

.skills svg {
  margin: 0 30px;
}

@media screen and (max-width: 850px) {
  .heading {
    font-size: 3rem;
    transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 200ms;
  }
  .paragraph {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .heading {
    margin-top: 3rem;
    font-size: 2rem;
  }

  .list {
    display: block;
  }

  .paragraph {
    font-size: 1rem;
  }

  .skills {
    display: none;
  }
}
