.container {
  min-width: 115px;
  border-radius: 6px;
  border: none;
  padding: 5px 10px;

  background-color: var(--primary);
  color: var(--tertiary);
  cursor: pointer;
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
  font-size: 16px;
}

.container__fullscreen {
  background-color: var(--secondary);
  color: var(--primary);
  font-weight: bold;
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
}

.container:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3) 0s;
}
