.footer__container {
  font-size: 0.8rem;
  color: var(--white);
  text-align: center;
  font-weight: 100;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  margin: 20px 0px 10px;
}

.subheading {
  transition: all ease-in 200ms;
  padding-right: 20px;
}

.title__secondary {
  color: var(--white);
}

.form {
  background-color: var(--white);
  height: auto;
  padding: 2rem;
  border-radius: var(--border);
  transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 200ms;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.form__input {
  width: 100%;
  margin: 10px 0px;
}

.submit_button {
  margin-top: 20px;
  outline: none;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  border-radius: var(--border);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all ease-in 200ms;
  height: 40px;
  font-size: 1rem;
  font-weight: bold;
}

.submit_button:hover {
  background-color: var(--primary-over);
  transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 200ms;
}

.submit_button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.response_header {
  color: var(--primary);
  text-align: center;
  font-weight: bold;
}

.lottie_success {
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 850px) {
  .form {
    padding: 1rem;
    transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 200ms;
  }
}

@media screen and (max-width: 650px) {
  .response_header {
    margin-top: 2rem;
  }

  .form {
    padding: 0 1rem 1rem;
    margin: 3rem 0rem;
  }
}
