.container__item {
  margin-bottom: 2rem;
  /* line-height: 1; */
}

.title__secondary {
  color: var(--tertiary);
}

.paragraph {
  font-size: 2rem;
  margin: 0;
  color: var(--tertiary);
}

.paragraph__secondary {
  font-size: 1.5rem;
  color: var(--tertiary);
  margin: 10px 0 2rem 0;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
