.title {
  margin: 0;
  color: var(--white);
  font-size: 4rem;
  max-width: 650px;
  transition: all ease-in 200ms;
  line-height: 1;
}

.landing_paragraph {
  font-size: 1.5rem;
  color: var(--white);
  max-width: 650px;
  transition: all ease-in 200ms;
}

.title__name {
  color: var(--secondary);
}

.blob_container {
  position: relative;
  width: 100%;
  display: block;
  min-width: 250px;
}

.blob_container__main {
  width: 75%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(1px 4px 3px rgb(15, 15, 15));
  transition: 0.3s;
}

.blob_container__secondary {
  width: 75%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-55%, -50%);
  filter: drop-shadow(1px 4px 3px rgb(15, 15, 15));
  transition: 0.3s;
}

.landing__bottom,
.landing__top {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  .title {
    transition: all ease-in 200ms;
    font-size: 3rem;
  }

  .landing_paragraph {
    transition: all ease-in 200ms;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .scroll_container {
    top: 0;
    width: 20px;
    height: 35px;
    transform: translate(-15px, 15px);
  }

  .scroll_container__text {
    display: none;
  }

  .title {
    transition: all ease-in 200ms;
    font-size: 2rem;
    text-align: center;
    line-height: normal;
  }
  
  .landing_paragraph {
    transition: all ease-in 200ms;
    font-size: 1rem;
    text-align: center;
  }

  .landing__bottom {
    padding-top: 1rem;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 650px) {
  .blob_container__main,
  .blob_container__secondary {
    width: auto;
  }
}

@media only screen and (max-width: 450px) {
  .blob_container__main,
  .blob_container__secondary {
    width: 80%;
  }
}
