:root {
  --primary: #0070d9;
  --secondary: #f9c00b;
  --white: white;
  --secondary-bold: rgba(0, 32, 62, 1);
  --primary-over: #005cb3;
  --border: 4px;
  --box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

html,
body {
  padding: 0;
  margin: 0;
  touch-action: manipulation;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background: rgb(0, 32, 62);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.link {
  color: var(--secondary);
  position: relative;
  transition: color 0.3s ease-in-out;
  width: -moz-fit-content;
  width: fit-content;
}

.link::before {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 3px;
  background-color: var(--white);
  transform: scaleX(0);
  transition: transform 0.15s ease-in-out;
}

.link:hover {
  color: var(--white);
}

.link:hover::before {
  transform: scaleX(1);
}

.subheading {
  color: var(--secondary);
  font-size: 4rem;
  margin: 0;
}

.article__item {
  width: 50%;
  max-width: 750px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article__full-width {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10%;
}

.paragraph {
  font-size: 1rem;
  color: var(--white);
  font-weight: 300;
  line-height: 1.5;
}

@media screen and (max-width: 800px) {
  .scroll-guide {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .subheading {
    font-size: 2rem;
  }

  @media screen and (max-width: 650px) {
    .article__item {
      width: 100%;
    }
  }
}
