.container__item {
  margin-bottom: 2rem;
  width: 270px;
}

.description {
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--white);
  margin: 0;
}

.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.subheading__secondary {
  font-size: 3rem;
}

@media screen and (max-width: 850px) {
  .subheading {
    transition: all ease-in 200ms;
    font-size: 3rem;
  }

  .paragraph {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .subheading {
    font-size: 2rem;
  }
  .paragraph,
  .paragraph__secondary {
    font-size: 1rem;
  }

  .secondary {
    margin-top: 3rem;
    flex-wrap: wrap;
  }

  .skills {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .skills > .container__item {
    min-width: 110px;
    border-radius: var(--border);
  }
}

@media screen and (max-width: 380px) {
  .skills {
    text-align: center;
  }
}
