.container__article {
  width: 50%;
}
.container__item {
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 1.1rem;
  padding-right: 10px;
  margin: 0 0 5rem 0;
  color: var(--tertiary);
}

.swiper {
  width: 100%;
  max-width: 500px;
  padding-bottom: 10px;
  height: 140px;
}

.swiper_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70% !important;
}

.heading {
  margin-bottom: 1rem;
}

.profile {
  display: flex;
  align-items: center;
}

.profile > img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  filter: drop-shadow(2px 4px 6px black);
}

.perspective_right {
  transform: perspective(1500px) rotateY(-15deg);
  transition: transform 1s ease 0s;
}

.perspective_right:hover {
  transform: perspective(3000px) rotateY(-5deg);
}

@media screen and (max-width: 850px) {
  .heading {
    font-size: 3rem;
    transition: all cubic-bezier(0.17, 0.67, 0.83, 0.67) 200ms;
  }
  .paragraph {
    margin-bottom: 2rem;
  }
  .profile > img {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .heading {
    margin-top: 3rem;
    font-size: 2rem;
  }
  .profile > img {
    margin-top: 20px;
    width: 80%;
  }
  .paragraph {
    font-size: 1rem;
  }
}

@media screen and (max-width: 370px) {
  .swiper img {
    width: 60%;
    height: 60%;
  }
}
